form.form(name='stepOne', novalidate)
  //- ----------------------------------------------------------------------------------
  alert(ng-repeat='alert in vm.activeAlerts' type='{{alert.type}}' close='vm.dismissAlert($index)') {{alert.msg}}
  //- ----------------------------------------------------------------------------------
  data-text-field(f-model='vm.form.name', 
      f-label='Name', 
      f-name='name', 
      f-pattern='^[a-zA-Z]{1,25}$',
      f-left-addon='Sr.',
      f-required='')
  //- ----------------------------------------------------------------------------------
  data-text-field(f-model='vm.form.lastName', 
      f-label='Last Name', 
      f-name='lastName', 
      f-pattern='^[a-zA-Z]{1,25}$',
      f-required='')
  //- ----------------------------------------------------------------------------------
  .form-group(ng-class="{'has-error': stepOne.mail.$touched && stepOne.mail.$invalid}")
    label.control-label Mail
    input.form-control(ng-model='vm.form.mail',
          type='email',
          name='mail',
          tooltip-template="'app/views/templates/errorMessages/mail.html'",
          tooltip-class='tooltip-bg',
          tooltip-placement='right',
          tooltip-trigger='tooltipActivate', 
          data-trigger-tooltip='stepOne.mail.$touched && stepOne.mail.$invalid',
          required)
  //- ----------------------------------------------------------------------------------
  .form-group.has-feedback(ng-class="{'has-error': stepOne.userName.$invalid && stepOne.userName.$dirty,'has-success': stepOne.userName.$valid}")
    label.control-label username
    input.form-control(ng-model='vm.form.userName',
          type='text',
          name='userName',
          username,
          required)
    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show='stepOne.userName.$error.username')
    span.glyphicon.glyphicon-refresh.spin.form-control-feedback(ng-show='stepOne.userName.$pending.username')
    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show='stepOne.userName.$valid')
    span.help-block some help text here just for the shows, try with: 'Pablo', 'Lucas', 'Matias', 'asdf'.
  //- ----------------------------------------------------------------------------------
  .form-group.has-feedback(ng-class="{'has-error': stepOne.pass.$touched && stepOne.pass.$invalid , 'has-success': stepOne.pass.$touched && stepOne.pass.$valid}")
    label.control-label Password
    input.form-control(ng-model='vm.form.pass',
          type='password',
          name='pass',
          ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&'])[^ ]{5,16}$/",
          required,
          ng-focus='vm.newAlert(vm.alerts.pass)')
    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show='stepOne.pass.$touched && stepOne.pass.$invalid')
    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show='stepOne.pass.$valid && stepOne.pass.$touched')
  .form-group
    button.pull-right.btn.btn-primary(ng-disabled='stepOne.$invalid', ui-sref='form.steptwo') Next