form.form(name='stepTwo', ng-submit='vm.nextStep(stepTwo.$valid, 2)', novalidate)
  //- ----------------------------------------------------------------------------------
  alert(ng-repeat='alert in vm.activeAlerts' type='{{alert.type}}' close='vm.dismissAlert($index)') {{alert.msg}}
  //- ----------------------------------------------------------------------------------
  .form-group(ng-class="{'has-error': stepTwo.date.$touched && stepTwo.date.$invalid}")
    label.control-label Birthdate
    input.form-control(ng-model='vm.form.date',
          name='date',
          type='date',
          datepicker-popup,
          is-open='date.opened',
          min-date='date.min',
          max-date='date.max',
          date-disabled='disabled(date, mode)',
          close-text='Close',
          required)
  //- ----------------------------------------------------------------------------------
  .form-group(ng-class="{'has-error': stepTwo.adress.$touched && stepTwo.adress.$invalid}")
    label.control-label Street
    input.form-control(ng-model='vm.form.adress',
          type='text',
          name='adress'
          required)
  //- ----------------------------------------------------------------------------------
  .form-group(ng-class="{'has-error': stepTwo.city.$touched && stepTwo.city.$invalid}")
    label.control-label City
    input.form-control(ng-model='vm.form.city',
          type='text',
          name='city',
          required)
  //- ----------------------------------------------------------------------------------
  .form-group(ng-class="{'has-error': stepTwo.zip.$touched && stepTwo.zip.$invalid}")
    label.control-label ZIP Code
    input.form-control(ng-model='vm.form.zip',
          type='text',
          name='zip',
          required)
  //- ----------------------------------------------------------------------------------
  .form-group
    label.control-label State
    select.form-control(ng-init='vm.form.state = vm.states[0]'
                        ng-model='vm.form.state', 
                        ng-options='state for state in vm.states',
                        required)
  //- ----------------------------------------------------------------------------------
  .form-group
    label.control-label Multi State
    select.form-control(multiple
                        ng-model='vm.form.stateMulti', 
                        ng-options='state for state in vm.states',
                        required)
    span.help-block select multiple options by pressing ctrl
  //- ----------------------------------------------------------------------------------
  .form-group
    button.pull-right.btn.btn-primary(ng-disabled='stepTwo.$invalid', ui-sref='form.stepthree') Next